@charset "utf-8";
/* animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; */


.main .banner-arti .inner{ opacity: 0; }
.main .banner-arti.on .inner{ animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }

.main .vision-arti .item-list > li{ opacity: 0; }
.main .vision-arti.on .item-list > li:nth-child(1){ animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }
.main .vision-arti.on .item-list > li:nth-child(2){ animation: fadeIn 0.5s ease-in-out 0.1s 1 forwards running; }
.main .vision-arti.on .item-list > li:nth-child(3){ animation: fadeIn 0.5s ease-in-out 0.2s 1 forwards running; }
.main .vision-arti.on .item-list > li:nth-child(4){ animation: fadeIn 0.5s ease-in-out 0.2s 1 forwards running; }

.main .wave-arti .item-list > li{ opacity: 0; }
.main .wave-arti.on .item-list > li:nth-child(1){ animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }
.main .wave-arti.on .item-list > li:nth-child(2){ animation: fadeIn 0.5s ease-in-out 0.1s 1 forwards running; }
.main .wave-arti.on .item-list > li:nth-child(3){ animation: fadeIn 0.5s ease-in-out 0.2s 1 forwards running; }

.main .coin-arti .left-box .coin{ transform: scale(0); }
.main .coin-arti.on .left-box .coin{  animation: pulse 600ms ease-in-out forwards, float 3s ease-in-out infinite;; }



@keyframes pulse {
    0%   { transform: scale(1); }
    50%  { transform: scale(0.85); } /* 가운데에서 가장 작음 */
    100% { transform: scale(1); }
}

.main .partnership-arti .title1{ opacity: 0; }
.main .partnership-arti.on .title1{ animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }

.main .partnership-arti .content{ opacity: 0; }
.main .partnership-arti.on .content{ animation: fadeIn 0.5s ease-in-out 0.1s 1 forwards running; }

.main .partnership-arti .img-list{ opacity: 0; }
.main .partnership-arti.on .img-list{ animation: fadeIn 0.5s ease-in-out 0.2s 1 forwards running; }

.main .partnership-arti .blue-bg{ opacity: 0; }
.main .partnership-arti.on .blue-bg{ animation: fadeIn 0.5s ease-in-out 0.3s 1 forwards running; }

@keyframes fadeIn {
    0% {transform: translate3d(0px, 30px, 0px); }
    100% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
}
@keyframes fadeInDown {
    0% {transform: translate3d(0px, -30px, 0px); }
    100% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
}
@keyframes fadeInRight {
    0% { opacity: 0; transform: translate3d(30px, 0, 0px); }
    100% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
}
@keyframes fadeInLeft {
    0% { opacity: 0; transform: translate3d(-30px, 0, 0px); }
    100% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
}

@keyframes float {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.main .banner-arti .title{  animation: blink 3s infinite;  }

@keyframes blink {
    0%   { opacity: 0.2; }
    50%  { opacity: 1; }
    100% { opacity: 0.2; }
  }



section.sec .g_title { opacity: 0; }
section.sec.on .g_title { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }
section.sec .g_sub_title { opacity: 0; }
section.sec.on .g_sub_title { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.2s; }

/* sec1 */
section.sec1 .sec1_slider .item .item_wrap .sec1_titie { opacity: 0; }
section.sec1.on .sec1_slider .item .item_wrap .sec1_titie { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running;}
section.sec1 .sec1_slider .item .item_wrap .sec1_sub { opacity: 0; }
section.sec1.on .sec1_slider .item .item_wrap .sec1_sub { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.2s;}
section.sec1 .sec1_slider .item .item_wrap .sec1_btn { opacity: 0; }
section.sec1.on .sec1_slider .item .item_wrap .sec1_btn { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.3s;}

section.sec1 .sec1_slider .item .imgBox { opacity: 0; }
section.sec1.on .sec1_slider .item .imgBox { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.2s;}
section.sec1 .sec1_slider .item .sec1_sub2 { opacity: 0; }
section.sec1.on .sec1_slider .item .sec1_sub2 { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.3s; }

/* sec2 */
section.sec2 .sec2_div { opacity: 0; }
section.sec2 .sec2_div.on { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }

/* sec3 */
section.sec3 .sec3_div { opacity: 0; }
section.sec3 .sec3_div.on { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }

/* sec4 */
section.sec4 .sec4_div ul { opacity: 0; }
section.sec4 .sec4_div.on ul { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }
section.sec4 .sec4_div .sec4_text { opacity: 0; }
section.sec4 .sec4_div.on .sec4_text { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.3s;  }

/* sec5 */
section.sec5 .sec5_div ul { opacity: 0; }
section.sec5 .sec5_div.on ul { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }
section.sec5 .sec5_div .sec5_text { opacity: 0; }
section.sec5 .sec5_div.on .sec5_text { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.3s;  }

/* sec6 */
section.sec6 .sec6_div { opacity: 0; }
section.sec6 .sec6_div.on { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }

section.sec6 .sec6_div ul li .item3 .imgBox .stroke {  animation: blink 3s infinite; }
section.sec6 .sec6_div ul li .item3 .imgBox .color {  animation: blink 3s infinite; animation-delay: 0.5s }

/* sec7 */
section.sec7 .sec7_div { opacity: 0; }
section.sec7 .sec7_div.on { animation: fadeIn 0.5s ease-in-out 0s 1 forwards running; }

/* sec8 */
section.sec8 .sec8_div ul li:nth-child(1) .item { opacity: 0;  }
section.sec8 .sec8_div.on ul li:nth-child(1) .item { animation: fadeInLeft 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.2s;  }
section.sec8 .sec8_div ul li:nth-child(2) .item { opacity: 0;  }
section.sec8 .sec8_div.on ul li:nth-child(2) .item { animation: fadeInRight 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.4s;  }
section.sec8 .sec8_div ul li:nth-child(3) .item { opacity: 0;  }
section.sec8 .sec8_div.on ul li:nth-child(3) .item { animation: fadeInLeft 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.5s;  }

/* sec9 */
section.sec9 .sec9_div .text_box { opacity: 0;  }
section.sec9 .sec9_div.on .text_box { animation: fadeInLeft 0.5s ease-in-out 0s 1 forwards running; animation-delay: 0.2s;  }

section.sec9 .sec9_div .img_box {  animation: pulse 600ms ease-in-out forwards, float 2s ease-in-out infinite; }



/* section .float_icon { transform: scale(0); } */
section.on .float_icon{  animation:  float 2s ease-in-out infinite;}
section.sec6.on .float_icon1 { animation: pulse 600ms ease-in-out forwards, float 2s ease-in-out infinite;  }
section.sec6.on .float_icon2 { animation: pulse 600ms ease-in-out forwards, float 2s ease-in-out infinite; animation-delay: 0.5; }